
# requirements.txt

torch==2.3.1
transformers==4.41.2
sentence-transformers==2.7.0

qdrant-client==1.9.1
pydantic==2.7.4

pymupdf==1.24.5

langchain-text-splitters==0.2.2
langchain-core==0.2.43

rank-bm25==0.2.2

numpy==1.26.4
scikit-learn==1.5.0

tqdm==4.66.4

orjson==3.10.3

huggingface-hub==0.23.2
tokenizers==0.19.1
safetensors==0.4.3

scipy==1.13.1
joblib==1.4.2
threadpoolctl==3.5.0
requests==2.32.3
urllib3==2.2.1


